body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
    color: #332b2b;
    background-color: #F1F1F1;
  }

 *,
 *::before,
 *::after {
    box-sizing: inherit;
  }
  
 html {
    box-sizing: border-box;
  }

a {
    text-decoration: none;
  }
  
h1, h2, h3, h4, p, ul, li, fieldset {
    margin: 0;
    padding: 0;
  }
  
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background: url(../img/3round.webp) no-repeat 80% 210px,
  url(../img/back11.jpg) no-repeat;
  margin-bottom: 60px;
}

.head-desc {
  display: grid;
  grid-template-columns: 200px 460px;
  grid-column-gap: 150px;
  padding-top: 20px;
  margin-bottom: 100px;
}

.date-time {
  position: relative;
}

.date-time__date, .date-time__time, .head-p {
  display: grid;
  color: #ffffff;
}

.date-time__time {
  font-weight: 700;
}

.date-time__date, .date-time__time {
  padding-left: 75px;
}

.date-time__date::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 50px;
  height: 50px;
  background: url(../img/icons/clock.webp) no-repeat;
}

.head-p {
  text-align: center;
}

.head-title-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.head-title {
  position: relative;
}

.main-title {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 40px;
}

.subtitle {
  display: grid;
  color: #ffffff;
  font-size: 22px;
  opacity: .85;
  padding-left: 90px;
  margin-bottom: 60px;
}

.subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 225px;
  width: 85px;
  height: 70px;
  background: url(../img/icons/note.webp) no-repeat;
}

.to-form {
  display: inline-grid;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  opacity: .85;
  background: linear-gradient(#ff9bc9, #f5328c);
  padding: 30px;
  border-radius: 100px;
  border-bottom: 4px solid #c40a5e;
}

.to-form:hover {
  opacity: .7;
}

.head-img {
  position: relative;
}

.head-img img {
  display: grid;
  margin-left: auto;
}

.head-img--mod {
  display: grid;
  position: absolute;
  top: 503px;
  left: 35px;
  z-index: 2;
}

.head-img--mod-rectangle {
  content: "";
  position: absolute;
  top: 490px;
  left: -20px;
  width: 230px;
  height: 53px;
  background: url(../img/icons/rectangle26.svg) no-repeat;
  background-size: cover;
  z-index: 1;
}

.steps {
  position: relative;
  margin-bottom: 100px;
}

h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 30px;
}

.steps__date-time {
  display: grid;
  width: 900px;
  margin: 0 auto;
  height: 100px;
  background: url(../img/icons/steps-calendar.webp) no-repeat,
  url(../img/icons/steps-time.webp) no-repeat 99% -300%;
  margin-bottom: 40px;
}

.steps__date-time-p {
  display: grid;
  position: absolute;
  font-size: 18px;
  color: #ffffff;
}

.steps__date-time-1st {
  left: 300px;
  top: 135px;
}

.steps__date-time-2nd {
  left: 750px;
  top: 135px;
}

.black-font {
  color: #332b2b;
}

.steps__wrap {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 310px);
  justify-content: space-between;
  margin-bottom: 30px;
}

.steps__item-top {
  position: relative;
  height: 100px;
}

.steps__item-content {
  position: relative;
  height: 210px;
  display: grid;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.steps__item-content::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  border: #ede6f7 solid 1px;
}

.steps__item-p {
  display: grid;
  text-align: center;
  padding: 15px;
}

.steps__item-circle::before {
  display: grid;
  content: "";
  position: absolute;
  top: 20px;
  left: 115px;
  width: 50px;
  height: 50px;
  background: url(../img/icons/circle1.svg) no-repeat;
  background-size: cover;
  z-index: 1;
}

.steps__item-num {
  display: grid;
  position: absolute;
  top: 33px;
  left: 128px;
  z-index: 2;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
/*
.steps__item-num::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 37px;
  width: 256px;
  height: 1px;
  background-color: #dbccef;
}

.steps__item-num:last-child + .steps__item-num::after {
  display: none;
}
*/

.steps__result {
  position: relative;
  padding-top: 80px;
}

.steps__result::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 55px;
  width: 339px;
  height: 58px;
  background: url(../img/icons/rectangle-blue.webp) no-repeat;
  z-index: 1;
}

.steps__result-p {
  display: grid;
  position: absolute;
  top: 35px;
  left: 145px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  z-index: 2;
}

.steps__result-ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -30px;
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.steps__result-ul::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  border: #ede6f7 solid 1px;
}

.steps__result-li {
  position: relative;
  width: 70%;
  padding-bottom: 20px;
}

.steps__result-li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 19px;
  height: 16px;
  background: url(../img/icons/check.webp) no-repeat;
  background-size: cover;
}

.bonus-book {
  background: url(../img/3round.webp) no-repeat 8% 50%,
  url(../img/back22.jpg) no-repeat;
  margin-bottom: 60px;
}

.flex-setting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.author-img img {
  display: grid;
  margin-top: 40px;
  margin-left: calc(50% - 182px);
  height: 700px;
}

.bonus-book__img {
  padding-top: 100px;
}

.bonus-book__desc {
  margin-bottom: 100px;
}

.bonus-book__desc-p {
  font-size: 20px;
  color: #ffffff;
  opacity: .6;
  padding-top: 120px;
  padding-bottom: 30px;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 50px;
}

.who-need__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 40px;
  margin-bottom: 100px;
}

.who-need__item-img {
  display: grid;
  justify-content: center;
}

.who-need__item-desc {
  display: grid;
  text-align: center;
}

.who-need__item-p {
  font-size: 18px;
}

.author {
  background: url(../img/3round.webp) no-repeat 8% 50%,
  url(../img/back11.jpg) no-repeat;
  margin-bottom: 60px;
}

.author__desc h2 {
  text-align: left;
  color: #ffffff;
  opacity: .8;
}

.author__desc-ul {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  list-style: none;
  font-size: 18px;
  color: #ffffff;
  opacity: .8;
}

.author__desc-li {
  position: relative;
  padding-bottom: 20px;
}

.author__desc-li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 19px;
  height: 16px;
  background: url(../img/icons/check.webp) no-repeat;
  background-size: cover;
}

.sucsess__steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  height: 275px;
  padding-top: 40px;
  margin-bottom: 60px;
}

.sucsess__item:nth-child(2) {
  align-self: end;
}

.sucsess__item-icon {
  height: 62px;
  align-items: center;
}

.icon1 {
  position: relative;
  background: url(../img/icons/1.webp) 50% no-repeat;
  background-size: contain;
}

.icon2 {
  position: relative;
  background: url(../img/icons/2.webp) 50% no-repeat;
  background-size: contain;
}

.icon3 {
  background: url(../img/icons/3.webp) 50% no-repeat;
  background-size: contain;
}

.icon1::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 350px;
  width: 110px;
  height: 50px;
  background: url(../img/icons/line5.webp) no-repeat;
}

.icon2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 330px;
  width: 110px;
  height: 50px;
  background: url(../img/icons/line5.webp) no-repeat;
  transform: rotate(140deg);
}

.sucsess__item-content {
  text-align: center;
  padding-top: 40px;
}

.sucsess__item-content-p {
  font-size: 18px;
}

.form__wrap {
  width: 630px;
  margin: 0 auto;
  padding: 50px 120px 50px 120px;
  margin-bottom: 100px;
  border-radius: 5px;
  background: url(../img/back22.jpg) no-repeat;
}

b {
  display: flex;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 20px;
}

.form__wrap-p {
  text-align: center;
  color: #ffffff;
}

.layout-form {
  margin: 0 auto;
  width: 390px;
  padding-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-input {
  width: 100%;
  font-size: 16px;
  padding: 25px 20px;
  border: none;
  border-radius: 5px;
}

label {
  display: block;
  cursor: pointer;
}

.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox__real:checked + .checkbox__fake {
  background-color: #df7fa6;
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #777777;
  border-radius: 2px;
  vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/check.svg);
  background-position: center;
  transform: translate(-50%, -50%);
}

.checkbox__title {
  color: #ffffff;
  font-size: 14px;
}

.form-group-button {
  display: inline-grid;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  opacity: .85;
  background: linear-gradient(#ff9bc9, #f5328c);
  padding: 30px;
  margin-top: 30px;
  border: none;
  border-radius: 100px;
  border-bottom: 4px solid #c40a5e;
  cursor: pointer;
}

.form-group-button:hover {
  opacity: .7;
}

footer {
  background: url(../img/back33.jpg) no-repeat;
}

.course__logo {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.footer__link {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, .4);
}

.footer__link:last-child {
  padding-bottom: 30px;
}




/*media*/
@media (min-width: 1921px) {
  header,
  .bonus-book,
  .author {
    margin: 0 auto 60px;
    width: 1920px;
  }
  footer {
    margin: 0 auto;
    width: 1920px;
  }
}

@media (max-width: 1220px) {
  .container {
    width: 1000px;
  }
  .main-title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 18px;
  }
  .subtitle::before {
    top: 190px;
  }
  .head-img {
    margin-top: -50px;
  }
  .head-img--mod-rectangle {
    top: 450px;
    left: -85px;
  }
  .head-img--mod {
    top: 464px;
    left: -29px;
  }
  h2 {
    font-size: 42px;
  }
  .steps__date-time-1st {
    left: 200px;
    top: 132px;
  }
  .steps__date-time-2nd {
    left: 650px;
    top: 132px;
  }
  .steps__wrap {
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(3, 310px);
    justify-content: space-evenly;
  }
  .bonus-book__img {
    padding-top: 150px;
  }
  .bonus-book__desc {
    margin-bottom: 80px;
  }
  .bonus-book__desc-p {
    padding-top: 80px;
  }
  .icon1::after {
    top: 31px;
    left: 290px;
  }
  .icon2::after {
    left: 280px;
  }
}

@media (max-width: 1020px) {
  .container {
    width: 768px;
  }
  header {
    background: url(../img/3round.webp) no-repeat 380px 160px,
    url(../img/back11.jpg) no-repeat;
  }
  .main-title {
    font-size: 46px;
    margin-bottom: 60px;
  }
  .subtitle {
    display: none;
  }
  .head-img--mod-rectangle {
    top: 350px;
  }
  .head-img--mod {
    top: 364px;
  }
  h2 {
    font-size: 36px;
  }
  .steps__date-time {
    width: 100%;
    height: 200px;
    background: url(../img/icons/steps-calendar.webp) 50% 0 no-repeat,
    url(../img/icons/steps-time.webp) 50% 100px no-repeat;
  }
  .steps__date-time-1st {
    left: 300px;
    top: 124px;
  }
  .steps__date-time-2nd {
    left: 316px;
    top: 232px;
  }
  .steps__wrap {
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(4, 290px);
  }
  .steps__item-top {
    height: 80px;
  }
  .flex-setting {
    grid-column-gap: 10px;
  }
  .bonus-book {
    background: url(../img/3round.webp) no-repeat -110px 25%,
    url(../img/back22.jpg) no-repeat;
  }
  .bonus-book__img {
    padding-top: 100px;
  }
  .bonus-book__desc {
    margin-bottom: 30px;
  }
  .bonus-book__desc-p {
    font-size: 18px;
    padding-top: 30px;
  }
  h3 {
    font-size: 26px;
  }
  .who-need__wrap {
    grid-template-columns: auto;
  }
  .author {
    background: url(../img/3round.webp) no-repeat -150px 90px,
    url(../img/back11.jpg) no-repeat;
  }
  .author__desc {
    padding-top: 50px;
  }
  .author-img img {
    margin-top: 10px;
    margin-left: 0;
    height: auto;
  }
  .icon1::after {
    top: 20px;
    left: 190px;
  }
  .icon2::after {
    top: -10px;
    left: 200px;
  }
}

@media (max-width: 860px) {
  header {
    background: url(../img/3round.webp) no-repeat 190px 160px,
    url(../img/back11.jpg) no-repeat;
  }
  .head-desc {
    grid-template-columns: 170px 400px;
  }
  .date-time__date,
  .date-time__time {
    font-size: 14px;
  }
  .head-p {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .container {
    width: 425px;
  }
  header {
    background: url(../img/3round.webp) no-repeat 60% 110%,
    url(../img/back11.jpg) no-repeat;
    background-size: 500px, cover;
  }
  .head-desc {
    grid-template-columns: auto;
    justify-items: center;
    margin-bottom: 80px;
  }
  .date-time {
    margin-bottom: 20px;
  }
  .head-title-container {
    grid-template-columns: auto;
  }
  .head-title {
    margin: auto;
  }
  .main-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  .head-img {
    margin-top: 20px;
  }
  .head-img--mod-rectangle {
    left: -4px;
  }
  .head-img--mod {
    left: 51px;
  }
  h2 {
    font-size: 30px;
  }
  .steps__date-time {
    background-size: 425px;
  }
  .steps__date-time-1st {
    left: 134px;
    top: 153px;
  }
  .steps__date-time-2nd {
    left: 143px;
    top: 261px;
  }
  .steps__wrap {
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: repeat(7, 290px);
  }
  .flex-setting {
    grid-template-columns: auto;
  }
  .bonus-book__desc {
    text-align: center;
  }
  .bonus-book__desc-p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .bonus-book__img {
    padding-top: 30px;
  }
  .bonus-book {
    background: url(../img/3round.webp) no-repeat 40% -55%,
    url(../img/back22.jpg) no-repeat;
    background-size: 500px, cover;
  }
  .author__desc {
    padding-top: 0;
  }
  .author__desc-ul {
    padding-bottom: 500px;
  }
  .author__desc-li {
    font-size: 16px;
  }
  .author-img {
    position: relative;
  }
  .author-img img {
    position: absolute;
    left: 55px;
    width: 300px;
    margin-top: 427px;
  }
  .author {
    background: url(../img/3round.webp) no-repeat 30% 105%,
    url(../img/back11.jpg) no-repeat;
    background-size: 500px, cover;
  }
  .sucsess__steps {
    grid-template-columns: auto;
    height: auto;
  }
  .sucsess__item {
    margin-bottom: 20px;
  }
  .sucsess__item-content {
    padding-top: 10px;
  }
  .icon1::after,
  .icon2::after {
    display: none;
  }
  .footer__link {
    font-size: 14px;
  }
}

@media (max-width: 631px) {
  .form__wrap {
    width: 425px;
    padding: 30px;
  }
  .layout-form {
    width: 100%;
  }
  .form-group-button {
    font-size: 14px;
  }
}

@media (max-width: 435px) {
  .container {
    width: 360px;
  }
  header {
    margin-bottom: 30px;
  }
  .head-desc {
    margin-bottom: 60px;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .steps__date-time {
    background-size: 360px;
  }
  .steps__date-time-p {
    font-size: 16px;
  }
  .steps__date-time-1st {
    left: 110px;
    top: 126px;
  }
  .steps__date-time-2nd {
    left: 123px;
    top: 233px;
  }
  .steps__result::after {
    left: 11px;
  }
  .steps__result-p {
    font-size: 18px;
    left: 117px;
  }
  .steps__result-ul {
    padding-left: 60px;
  }
  .steps__result-li {
    width: 100%;
  }
  .author-img img {
    margin-top: 457px;
  }
}

@media (max-width: 426px) {
  .form__wrap {
    width: 360px;
  }
  .form-group-button {
    font-size: 13px;
    padding: 30px 5px;
  }
}

@media (max-width: 361px) {
  .form__wrap {
    width: 320px;
  }
  .author-img img {
    left: 25px;
  }
  .to-form {
    padding: 30px 20px;
  }
}

@media (max-width: 330px) {
  .container {
    width: 320px;
  }
  .head-title {
    text-align: center;
  }
  .steps__date-time {
    background-size: 320px;
  }
  .steps__date-time-p {
    font-size: 14px;
  }
  .steps__date-time-1st {
    left: 101px;
    top: 122px;
  }
  .steps__date-time-2nd {
    left: 110px;
    top: 230px;
  }
  .steps__result::after {
    left: 2px;
    width: 315px;
  }
  .steps__result-p {
    left: 98px;
  }
  .author-img img {
    left: 13px;
  }
  .form__wrap {
    margin-bottom: 30px;
  }
}